{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}UCMAS{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'tabler/css/tabler.min.css' %}">
  <link rel="stylesheet" href="{% static 'tabler/css/tabler-vendors.min.css' %}">
</head>

<body class="d-flex flex-column">
  {% block body %}{% endblock %}

  <script src="{% static 'tabler/js/tabler.min.js' %}"></script>
</body>
</html>
