{% extends "portal/base.html" %}
{% load static %}

{% block title %}Login | UCMAS{% endblock %}

{% block body %}
<div class="page page-center">
  <div class="container container-tight py-4">

    <div class="text-center mb-4">

  <img
    src="{% static 'brand/ucmas_logo.jpeg' %}"
    alt="Arabic Square"
    class="mb-3"
    style="height:90px; width:auto; display:block; margin-left:auto; margin-right:auto;"
  >

  <h1 class="mb-1 fw-bold">UCMAS KSA</h1>
  <div class="text-muted">School / Association Portal</div>

</div>


    <form class="card card-md" method="post">
      {% csrf_token %}
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Sign in</h2>

        {% if form and form.non_field_errors %}
          <div class="alert alert-danger">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" name="username" class="form-control" required autofocus>
        </div>

        <div class="mb-2">
          <label class="form-label">Password</label>
          <input type="password" name="password" class="form-control" required>
        </div>

        <div class="form-footer">
          <button type="submit" class="btn btn-primary w-100">Sign in</button>
        </div>
      </div>
    </form>

    <div class="text-center text-muted mt-3">
      Contact UCMAS Saudi Admin if you need access.
    </div>

  </div>
</div>
{% endblock %}
